html {
    background: linear-gradient(#ffffff80, rgba(255, 255, 255, 0.5)), url('../images/noise.png');
    background-blend-mode: screen;
    background-size: 300px 300px;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    color: #3f3f46;
    font-family: "Kumbh Sans", serif, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

h2 {
    text-align: left;
}

main {
    flex: 1;
  }

.header-container {
    display: flex;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
}

    .header h1 {
        font-size: 2.5em;
        margin: 0;
    }

.project {
    max-width: 720px;
    margin: 0 auto;
    line-height:1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tools-overview .container {
    display: flex;
    justify-content: space-between;
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
}

/* Left Column: Tools */
.left-column {
    width: 30%;
}

.left-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}

.left-column ul {
    list-style-type: disc;
    padding-left: 1.5em;
    list-style-position: inside;
}

.left-column ul li {
    margin-bottom: 5px;
    text-indent: -1.5em;
}

/* Right Column: Overview */
.right-column {
    width: 65%;
}

.right-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.p-image-container {
    max-width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .portfolio-image {
    /* width: 400px; */
    max-width: 720px;
    max-height: 60vh;
    /* height: auto; */
    border-radius: 2px;
  }

  .portfolio-video {
    border-radius: 2px;
  }
  
  figcaption {
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
  }

  ul li {
    list-style-position: inside;
  }

  /* Next Project Button Styling */
.next-project-btn {
    position: fixed;
    bottom: 40px;
    right: 50px;
    color: #3f3f46;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
}