:root {
    --grey1: #c2c2c2;
    --grey2: #a8a8a8;
    --grey3: #3f3f46;
    --blue1: #2d9dff;
    --blue2: #9fc1db;
}

.cat-svg {
    width: auto;
    height: 90px;
    margin-right: 10px;
    padding-top: 10px;
    transform: scaleX(-1);
    /* animation: walk 20s linear infinite; */
}

.head {
    fill: var(--grey1);
}

.ear {
    fill: var(--grey2);
}

.collar {
    fill: var(--grey2);
}

.tracker {
    fill: var(--blue1);
    transform-origin: 55%  5%;
    transform-box: fill-box;
    animation: rotate 1s linear infinite alternate;
}

.lora {
    stroke: var(--grey3);
    stroke-width: 0.3px;
    fill: transparent;
    stroke-linecap: round;
    transform-origin: -150% 50%;
    transform-box: fill-box;
    animation: waves 3s infinite;
}

.whiskers {
    stroke: var(--grey2);
    stroke-width: 0.3px;
    stroke-linecap: round;
}

.body {
    stroke: var(--grey1);
    stroke-width: 10.4px;
    stroke-linecap: round;
}

.leg1, .leg2 {
    stroke: var(--grey2);
    stroke-width: 3px;
    stroke-linecap: round;
    transform-origin: top center;
    transform-box: fill-box;
    animation: rotateLeg 1s linear infinite alternate;
}

.leg3, .leg4 {
    stroke: var(--grey1);
    stroke-width: 3px;
    stroke-linecap: round;
    transform-origin: top center;
    transform-box: fill-box;
    animation: rotateLeg 1s linear infinite alternate-reverse;
}

.tail {
    stroke: var(--grey1);
    fill: transparent;
    stroke-width: 2.5px;
    stroke-linecap: round;
    animation: morphTail 2s infinite alternate;
}

.ground {
    stroke: var(--grey3);
    fill: transparent;
    stroke-width: 0.1px;
    animation: walk 10s linear infinite;
}

@keyframes walk {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes waves {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
}

@keyframes rotateLeg {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

@keyframes morphTail {
    0% {
        d: path("M 9 15.5 c -1 -3 -2 -3 -4 -4 c -3 -2 -2 -6.5 0 -6.5");
    }
    100% {
        d: path("M 9 15.5 c -1 -3 -2 -3 -4 -4 c -3 -2 -2 -6.5 0.4 -5.4");
    }
}

/******************************************/

.raye-svg {
    width: auto;
    height: 90px;
    margin-left: auto;
    padding-top: 10px;
    animation: sailboatOscillation 15s linear infinite;
}

.raye {
    fill: transparent;
    stroke: var(--grey2);
    stroke-width: 0.5px;
}

.raye-hull {
    fill: #fd7a16;
}

@keyframes sailboatOscillation {
    0% {
        transform: translateY(0) translateX(0);
    }
    5% {
        transform: translateY(-3px) translateX(-30px);
    }
    10% {
        transform: translateY(0px) translateX(-60px);
    }
    15% {
        transform: translateY(1px) translateX(-90px);
    }
    20% {
        transform: translateY(0) translateX(-120px);
    }
    25% {
        transform: translateY(-3px) translateX(-150px);
    }
    30% {
        transform: translateY(0) translateX(-180px);
    }
    35% {
        transform: translateY(2px) translateX(-210px);
    }
    40% {
        transform: translateY(0) translateX(-240px);
    }
    45% {
        transform: translateY(-3px) translateX(-270px);
    }
    50% {
        transform: translateY(0) translateX(-300px) scaleX(-1);
    }
    55% {
        transform: translateY(-3px) translateX(-270px) scaleX(-1);
    }
    60% {
        transform: translateY(0) translateX(-240px) scaleX(-1);
    }
    65% {
        transform: translateY(1px) translateX(-210px) scaleX(-1);
    }
    70% {
        transform: translateY(0) translateX(-180px) scaleX(-1);
    }
    75% {
        transform: translateY(-4px) translateX(-150px) scaleX(-1);
    }
    80% {
        transform: translateY(0) translateX(-120px) scaleX(-1);
    }
    85% {
        transform: translateY(1px) translateX(-90px) scaleX(-1);
    }
    90% {
        transform: translateY(0px) translateX(-60px) scaleX(-1);
    }
    95% {
        transform: translateY(-3px) translateX(-30px) scaleX(-1);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

/******************************************/

.plrs-svg {
    width: auto;
    height: 90px;
    margin-left: auto;
    padding-top: 5px;
}

.plrs {
    fill: #dcdcdc7e;
    /* fill: transparent; */
    stroke: var(--grey2);
    stroke-width: 0.3px;
    transform-origin: 50%  60%;
    transform-box: fill-box;
    animation: sailboatPitch 5s linear infinite;
}

.waves {
    fill: #2d9dff2d;
    stroke: var(--blue1);
    stroke-width: 0.2px;
    animation: linearMotion 20s linear infinite;
}

@keyframes linearMotion {
    0% {
        transform: translateX(-250px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes sailboatPitch {
    0% {
        transform: rotate(3deg) translateY(0.5px);
    }
    30% {
        transform: rotate(-1deg) translateY(0);
    }
    60% {
        transform: rotate(3deg) translateY(-0.5px);
    }
    70% {
        transform: rotate(-3deg) translateY(-0.5px);
    }
    100% {
        transform: rotate(3deg) translateY(0.5px);
    }
}

/******************************************/
.cobot-svg {
    width: auto;
    height: 90px;
    margin-left: auto;
    padding-top: 8px;
    transform: scaleX(-1);
}

.base {
    fill: var(--grey1);
}

.arm {
    fill: var(--grey2);
}

.arm-group{
    transform-origin: 17% 81%;
    transform-box: fill-box;
    animation: rotateArm 4s linear infinite alternate;
}

.shoulder {
    fill: var(--blue2);
    stroke: var(--blue2);
    stroke-width: 0.1px;
}

.elbow {
    fill: var(--blue2);
    stroke: var(--blue2);
    stroke-width: 0.1px;
}

.forearm-group {
    animation: forearm 4s linear infinite alternate;
}

.forearm {
    fill: var(--grey1);
    transform-origin: 7% 4%;
    transform-box: fill-box;
    animation: rotateForearm 4s linear infinite alternate;
}

.wrist-group {
    transform-origin: 30% 90%;
    transform-box: fill-box;
    animation: rotateWrist 4s linear infinite alternate;
}

.wrist {
    fill: var(--grey2);
}

.wristcaps {
    fill: var(--blue2);
    stroke: var(--blue2);
    stroke-width: 0.1px;
}

.hand {
    fill: var(--grey1);
}

.eye {
    fill: var(--grey3);
    stroke: #ffffff;
    stroke-width: 0.2px;
}

@keyframes rotateArm {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

@keyframes forearm {
    0% {
        transform: translateX(0) translateY(0);
    }
    40% {
        transform: translateX(1.3px) translateY(1.9px);
    }
    80% {
        transform: translateX(2.3px) translateY(4.2px);
    }
    100% {
        transform: translateX(2.3px) translateY(4.2px);
    }
}

@keyframes rotateForearm {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes rotateWrist {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    40% {
        transform: translateX(1.4px) translateY(-1.5px) rotate(0deg);
    }
    80% {
        transform: translateX(2.5px) translateY(-3.2px) rotate(0deg);
    }
    100% {
        transform: translateX(2.5px) translateY(-3.2px) rotate(25deg);
    }
}

/******************************************/
.randy-svg {
    max-width: 90vw;
    width: 420px;
    height: auto;
    max-height: 90px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.robot-group{
    animation: robotDrive 7s linear infinite;
}

.robot {
    fill: var(--grey2);
    stroke: var(--grey3);
    stroke-width: 0.05px;
}

.claw {
    fill: var(--grey3);
}

.wheel {
    fill: var(--grey1);
    stroke: var(--grey3);
    stroke-width: 0.05px;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: rotateWheel 7s linear infinite;
}

.ball {
    fill: var(--grey3);
}

.idol {
    fill: #efbf04;
    stroke: #f3cc2e;
    stroke-width: 0.2px;
    transform-origin: 50% 100%;
    transform-box: fill-box;
    animation: idol 1s ease infinite alternate;
}

.rock {
    fill: var(--grey1);
    stroke: var(--grey2);
    stroke-width: 0.3px;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: rock 7s linear infinite;
}

@keyframes robotDrive {
    0% {
        transform: translateX(-130px);
    }
    40% {
        transform: translateX(-58px);
    }
    100% {
        transform: translateX(120px);
    }
}

@keyframes rotateWheel {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(1200deg);
    }
    100% {
        transform: rotate(4000deg);
    }
}

@keyframes idol {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes rock {
    0% {
        transform: translateX(-130px);
    }
    100% {
        transform: translateX(90px) rotate(1500deg);
    }
}

/******************************************/
.ml-svg {
    width: auto;
    height: 38px;
    margin-left: auto;
    padding-top: 0px;
    transform-origin: 30% 50%;
    transform-box: fill-box;
    animation: mlDrive 10s ease infinite;
}

.ml-robot-body {
    fill: var(--grey1);
    stroke: var(--grey3);
    stroke-width: 0.05px;
}

.ml-robot-wheels {
    fill: var(--grey3);
}

@keyframes mlDrive {
    0% {
        transform: translateX(-250px) translateY(0px) rotate(0deg);
    }
    30% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    38% {
        transform: translateX(0px) translateY(0px) rotate(90deg);
    }
    45% {
        transform: translateX(0px) translateY(50px) rotate(90deg);
    }
    52% {
        transform: translateX(0px) translateY(50px) rotate(180deg);
    }
    80% {
        transform: translateX(-250px) translateY(50px) rotate(180deg);
    }
    88% {
        transform: translateX(-250px) translateY(50px) rotate(270deg);
    }
    93% {
        transform: translateX(-250px) translateY(0px) rotate(270deg);
    }
    100% {
        transform: translateX(-250px)translateY(0px) rotate(360deg);
    }
}

/******************************************/

.ock-svg {
    width: auto;
    height: 120px;
    margin-left: auto;
    transform-origin: center;
    transform: scale(1, -1);
    display: block;
}

.ock1 {
    --rot: 15deg;
    --t: -1;
    fill: var(--grey1);
    animation: spiralOck 5s infinite alternate;
}

.ock2 {
    --rot: -15deg;
    --t: 1;
    fill: var(--grey2);
    animation: spiralOck 4s infinite alternate;
}

@keyframes spiralOck {
    0% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 81 26 91 17 100 17 100 26 92 35 100 29 110 29 110 37 102 45 106 42 117 42 117 47 108 56 109 56 119 56 119 58 110 66 109 69 118 69 118 69 108 76 105 81 113 81 113 78 105 84 100 90 106 90 106 86 99 90 93 97 97 97 97 91 92 93 86 100 87 100 87 94 84 94 78 101 77 101 77 94 76 93 71 99 69 99 69 93 69 91 65 95 61 95 61 90 64 86 60 90 56 90 56 86 59 83 58 85 53 85 53 88 49 91 50 90 56 90 56 95 52 98 56 95 61 95 61 101 60 103 64 99 69 99 69 106 68 107 74 101 77 101 77 108 79 107 85 100 87 100 87 107 91 105 97 97 97 97 97 102 102 98 108 90 106 90 106 94 113 88 118 81 113 81 113 83 122 75 125 69 118 69 118 68 127 60 128 56 119 56 119 52 129 44 127 42 117 42 117 36 126 27 122 29 110 29 110 20 117 11 109 17 100 17 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    5% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 26 92 17 100 17 100 26 93 34 101 28 111 28 111 37 103 45 108 41 118 41 118 47 109 55 111 55 121 55 121 58 112 66 112 68 121 68 121 68 112 76 110 80 118 80 118 79 109 85 105 90 111 90 111 87 104 92 99 98 104 98 104 93 98 96 92 103 95 103 95 97 91 98 85 105 85 105 85 99 83 99 77 105 76 105 76 99 76 98 71 103 68 103 68 97 70 95 65 99 62 99 62 94 64 92 62 95 57 95 57 99 54 101 56 99 62 99 62 104 59 107 64 103 68 103 68 109 68 110 72 105 76 105 76 112 77 112 83 105 85 105 85 112 88 110 94 103 95 103 95 109 99 106 105 98 104 98 104 103 110 98 115 90 111 90 111 94 119 87 123 80 118 80 118 81 127 73 129 68 121 68 121 66 131 58 131 55 121 55 121 51 131 42 129 41 118 41 118 34 127 26 122 28 111 28 111 19 118 10 109 17 100 17 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    7% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 26 92 16 100 16 100 26 93 34 102 27 111 27 111 36 104 44 109 40 119 40 119 47 111 55 114 53 124 53 124 57 114 65 115 66 125 66 125 68 115 76 114 79 122 79 122 79 113 85 110 90 117 90 117 88 109 93 105 99 111 99 111 95 104 98 99 105 103 105 103 100 98 102 92 109 94 109 94 103 90 104 85 111 85 111 85 104 83 104 78 110 77 110 77 104 77 102 72 108 69 108 69 102 70 100 68 104 64 104 64 109 62 111 65 108 69 108 69 113 68 115 73 110 77 110 77 116 77 116 82 111 85 111 85 117 87 116 92 109 94 109 94 115 98 112 103 105 103 105 103 110 108 106 113 99 111 99 111 103 118 97 122 90 117 90 117 92 126 85 129 79 122 79 122 79 131 71 133 66 125 66 125 64 134 56 133 53 124 53 124 49 133 40 130 40 119 40 119 33 127 25 122 27 111 27 111 18 118 9 109 16 100 16 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    9% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 25 92 16 100 16 100 26 94 34 103 27 112 27 112 36 105 44 111 39 120 39 120 46 113 54 116 52 126 52 126 57 117 65 118 65 128 65 128 67 119 76 118 78 127 78 127 78 118 85 116 89 123 89 123 88 115 94 112 99 118 99 118 96 111 100 107 106 111 106 111 102 105 105 100 112 103 112 103 107 98 109 93 115 94 115 94 109 91 110 87 116 86 116 86 110 85 110 80 115 78 115 78 110 78 109 75 113 73 113 73 119 72 120 75 115 78 115 78 121 79 122 84 116 86 116 86 122 88 121 93 115 94 115 94 120 98 118 103 112 103 112 103 117 108 113 113 106 111 106 111 110 117 106 121 99 118 99 118 101 125 96 129 89 123 89 123 90 132 83 134 78 127 78 127 77 136 69 136 65 128 65 128 62 137 54 136 52 126 52 126 47 134 39 131 39 120 39 120 31 128 24 123 27 112 27 112 17 118 9 109 16 100 16 100 4 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    11% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 25 93 16 100 16 100 26 94 33 104 26 112 26 112 36 106 43 112 38 122 38 122 45 114 53 118 50 128 50 128 56 119 64 121 63 131 63 131 67 122 75 122 76 131 76 131 78 123 85 121 88 129 88 129 88 121 94 118 98 125 98 125 96 118 101 114 106 120 106 120 103 113 107 108 113 112 113 112 109 107 112 102 118 105 118 105 113 101 115 96 121 97 121 97 115 94 116 89 122 89 122 89 117 88 116 85 121 83 121 83 127 84 127 87 122 89 122 89 127 91 127 96 121 97 121 97 126 100 124 105 118 105 118 105 123 109 120 114 113 112 113 112 117 118 113 123 106 120 106 120 109 126 104 130 98 125 98 125 100 133 93 135 88 129 88 129 88 138 80 139 76 131 76 131 74 140 66 140 63 131 63 131 59 140 51 138 50 128 50 128 44 136 37 132 38 122 38 122 30 129 22 123 26 112 26 112 16 118 8 109 16 100 16 100 4 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    13% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 93 15 100 15 100 26 95 33 104 25 113 25 113 35 107 42 113 37 123 37 123 45 116 52 120 49 130 49 130 55 122 63 125 61 134 61 134 65 126 74 127 74 136 74 136 77 127 84 127 86 135 86 135 87 127 93 125 97 132 97 132 96 125 101 122 106 128 106 128 104 121 109 117 114 122 114 122 111 116 114 112 120 116 120 116 116 111 118 107 124 109 124 109 120 105 121 100 127 102 127 102 122 99 123 96 128 96 128 96 133 97 132 101 127 102 127 102 132 104 130 109 124 109 124 109 129 113 126 117 120 116 120 116 124 121 120 125 114 122 114 122 117 129 112 132 106 128 106 128 108 135 102 138 97 132 97 132 97 140 91 142 86 135 86 135 85 143 77 144 74 136 74 136 71 144 63 143 61 134 61 134 56 142 49 140 49 130 49 130 42 137 35 133 37 123 37 123 28 130 21 123 25 113 25 113 15 118 8 109 15 100 15 100 4 104-1 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    15% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 93 15 100 15 100 26 95 33 105 25 113 25 113 35 108 41 115 35 124 35 124 44 117 51 122 47 132 47 132 54 124 61 128 59 137 59 137 64 129 72 131 71 140 71 140 75 132 83 132 83 141 83 141 85 133 92 132 94 140 94 140 95 132 101 130 104 137 104 137 103 130 109 127 113 133 113 133 111 126 116 123 120 127 120 127 117 122 121 118 126 122 126 122 122 117 125 113 130 115 130 115 126 111 128 108 133 109 133 109 137 112 136 115 130 115 130 115 134 119 132 123 126 122 126 122 129 126 126 130 120 127 120 127 123 133 119 136 113 133 113 133 115 139 109 142 104 137 104 137 105 144 99 146 94 140 94 140 94 148 87 148 83 141 83 141 81 149 74 149 71 140 71 140 68 148 60 146 59 137 59 137 54 145 46 142 47 132 47 132 40 139 33 134 35 124 35 124 27 130 20 124 25 113 25 113 14 118 7 109 15 100 15 100 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    17% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 94 15 101 15 101 26 96 32 106 24 114 24 114 34 109 41 116 34 125 34 125 43 119 50 124 45 133 45 133 53 127 60 131 57 140 57 140 63 132 70 135 69 144 69 144 73 137 81 138 81 146 81 146 84 139 90 139 91 147 91 147 93 139 99 138 101 146 101 146 102 138 108 137 111 143 111 143 110 136 115 134 119 139 119 139 118 133 122 130 126 135 126 135 123 129 127 126 132 129 132 129 129 124 131 122 135 124 135 124 139 128 137 131 132 129 132 129 135 134 131 137 126 135 126 135 128 140 124 143 119 139 119 139 121 145 116 148 111 143 111 143 112 150 106 152 101 146 101 146 101 153 95 154 91 147 91 147 90 155 83 154 81 146 81 146 77 154 70 153 69 144 69 144 64 152 57 149 57 140 57 140 51 147 44 143 45 133 45 133 38 140 31 135 34 125 34 125 25 131 19 124 24 114 24 114 13 118 7 109 15 101 15 101 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    20% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 94 15 101 15 101 25 96 32 106 23 114 23 114 34 110 40 117 33 126 33 126 42 121 49 126 43 135 43 135 51 129 58 134 54 142 54 142 61 136 68 139 66 148 66 148 71 141 78 143 77 152 77 152 81 145 88 146 88 154 88 154 91 146 97 147 98 154 98 154 100 147 106 146 108 153 108 153 109 146 114 145 117 151 117 151 116 144 121 143 124 148 124 148 123 142 127 139 131 144 131 144 129 139 132 137 136 140 136 140 138 145 136 147 131 144 131 144 133 149 129 152 124 148 124 148 125 154 121 156 117 151 117 151 117 157 112 159 108 153 108 153 107 160 101 161 98 154 98 154 96 161 90 161 88 154 88 154 85 161 78 160 77 152 77 152 73 159 66 157 66 148 66 148 60 155 53 152 54 142 54 142 47 149 41 145 43 135 43 135 35 141 29 136 33 126 33 126 23 131 17 124 23 114 23 114 12 119 6 108 15 101 15 101 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    23% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 66 19 81 7 85 7 85 19 84 23 95 13 101 13 101 24 98 30 108 20 115 20 115 31 112 37 120 29 128 29 128 39 124 45 130 38 138 38 138 47 133 53 138 48 147 48 147 56 141 63 146 59 154 59 154 65 148 72 151 70 159 70 159 75 153 81 155 80 163 80 163 84 156 90 158 90 165 90 165 93 159 99 159 100 166 100 166 102 160 107 160 109 166 109 166 110 160 115 159 117 165 117 165 117 159 122 158 124 163 124 163 124 157 127 156 130 161 130 161 131 166 128 167 124 163 124 163 125 169 120 170 117 165 117 165 116 171 112 172 109 166 109 166 108 173 102 173 100 166 100 166 98 173 92 172 90 165 90 165 87 172 81 171 80 163 80 163 76 170 70 168 70 159 70 159 65 166 58 163 59 154 59 154 53 160 46 156 48 147 48 147 41 153 35 147 38 138 38 138 30 143 24 137 29 128 29 128 19 132 14 125 20 115 20 115 9 119 4 108 13 101 13 101 1 104-3 93 7 85 7 85-6 87-10 72 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    25% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 66 18 82 6 85 6 85 18 85 22 96 11 102 11 102 22 99 27 110 18 116 18 116 29 114 33 122 25 129 25 129 35 126 40 133 33 141 33 141 43 137 48 143 42 150 42 150 50 146 56 151 52 159 52 159 59 154 65 158 61 166 61 166 68 161 74 164 71 172 71 172 76 166 82 168 80 176 80 176 85 170 91 172 90 179 90 179 93 173 99 174 98 181 98 181 101 175 106 175 106 181 106 181 108 176 113 176 114 181 114 181 116 176 119 176 120 181 120 181 120 186 117 186 114 181 114 181 113 187 108 187 106 181 106 181 105 187 100 187 98 181 98 181 96 187 91 185 90 179 90 179 86 185 80 183 80 176 80 176 76 182 70 179 71 172 71 172 66 178 60 174 61 166 61 166 55 172 49 167 52 159 52 159 45 165 38 159 42 150 42 150 34 155 29 149 33 141 33 141 24 145 19 138 25 129 25 129 15 133 10 125 18 116 18 116 6 119 1 108 11 102 11 102-1 103-5 92 6 85 6 85-7 87-10 72 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    27% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 67 17 82 5 86 5 86 17 86 20 97 9 102 9 102 21 100 25 111 15 117 15 117 26 116 30 124 21 131 21 131 32 129 36 136 28 143 28 143 38 140 42 147 36 153 36 153 44 150 50 157 44 163 44 163 52 160 57 165 52 172 52 172 60 168 65 172 61 179 61 179 67 175 72 178 69 185 69 185 75 180 80 183 78 190 78 190 82 185 87 187 86 194 86 194 90 189 94 190 93 196 93 196 97 191 102 193 101 198 101 198 104 194 107 194 107 199 107 199 105 204 102 204 101 198 101 198 99 204 94 202 93 196 93 196 90 202 86 200 86 194 86 194 82 199 77 197 78 190 78 190 73 195 68 192 69 185 69 185 64 190 59 186 61 179 61 179 55 184 50 180 52 172 52 172 45 177 40 171 44 163 44 163 36 168 31 162 36 153 36 153 27 158 22 151 28 143 28 143 19 146 14 139 21 131 21 131 11 134 7 125 15 117 15 117 3 119-1 108 9 102 9 102-3 103-6 92 5 86 5 86-8 87-11 71 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    30% {
        d: path("M16 0 16 48 0 48 0 48 14 49 15 66 1 68 1 68 14 67 17 83 4 86 4 86 16 86 19 98 7 102 7 102 19 101 22 113 12 118 12 118 23 118 26 126 17 132 17 132 28 131 31 139 23 145 23 145 33 143 36 150 29 156 29 156 38 154 42 161 36 167 36 167 44 165 49 171 43 177 43 177 51 174 55 179 50 185 50 185 57 182 61 187 57 193 57 193 63 189 68 193 64 199 64 199 70 196 74 199 71 205 71 205 76 201 80 204 78 209 78 209 83 205 87 208 85 213 85 213 89 209 92 211 90 216 90 216 87 220 84 219 85 213 85 213 81 218 77 215 78 209 78 209 74 214 70 211 71 205 71 205 66 209 62 206 64 199 64 199 59 204 54 199 57 193 57 193 51 197 46 192 50 185 50 185 43 189 39 184 43 177 43 177 35 181 31 174 36 167 36 167 27 171 23 164 29 156 29 156 20 159 16 152 23 145 23 145 13 147 9 139 17 132 17 132 6 134 3 125 12 118 12 118 0 119-3 107 7 102 7 102-5 103-7 91 4 86 4 86-9 86-11 71 1 68 1 68-13 68-14 51 0 48 0 48-16 48-16 0Z");
    }
    32% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 16 83 3 86 3 86 16 87 18 98 7 103 7 103 18 102 21 113 10 118 10 118 22 119 25 127 15 132 15 132 26 132 29 140 20 145 20 145 30 145 33 152 25 157 25 157 35 156 39 163 31 169 31 169 40 167 44 173 38 179 38 179 46 177 50 182 44 188 44 188 51 186 55 190 50 196 50 196 57 193 61 198 57 203 57 203 63 200 67 204 63 210 63 210 69 206 72 210 69 215 69 215 74 212 78 215 76 220 76 220 80 216 83 218 81 223 81 223 77 227 74 225 76 220 76 220 71 224 68 221 69 215 69 215 65 219 61 216 63 210 63 210 58 213 54 209 57 203 57 203 51 207 47 202 50 196 50 196 44 199 40 195 44 188 44 188 37 191 33 186 38 179 38 179 30 182 26 176 31 169 31 169 23 172 19 164 25 157 25 157 16 160 13 152 20 145 20 145 10 147 7 139 15 132 15 132 4 134 1 125 10 118 10 118-1 119-4 107 7 103 7 103-6 103-8 91 3 86 3 86-10 86-12 71 1 68 1 68-13 68-14 51 0 48 0 48-16 48-16 0Z");
    }
    35% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 16 83 3 86 3 86 15 87 17 99 6 103 6 103 17 102 20 114 9 118 9 118 20 119 23 128 13 133 13 133 23 133 26 141 17 146 17 146 27 146 30 153 22 158 22 158 31 158 35 165 27 170 27 170 36 169 39 176 33 181 33 181 41 179 44 185 38 190 38 190 46 189 49 194 43 199 43 199 51 197 54 202 49 207 49 207 56 205 59 209 55 214 55 214 61 211 64 215 60 220 60 220 66 217 69 221 66 225 66 225 71 223 73 225 70 229 70 229 66 233 64 231 66 225 66 225 61 229 58 225 60 220 60 220 55 223 52 219 55 214 55 214 49 217 46 213 49 207 49 207 43 210 39 205 43 199 43 199 37 202 33 197 38 190 38 190 31 193 27 187 33 181 33 181 24 183 21 177 27 170 27 170 18 172 15 165 22 158 22 158 12 160 10 153 17 146 17 146 7 148 4 139 13 133 13 133 2 134 0 125 9 118 9 118-3 119-5 107 6 103 6 103-7 102-8 91 3 86 3 86-10 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    37% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 15 84 2 86 2 86 15 88 16 99 5 103 5 103 16 103 18 115 7 119 7 119 19 120 21 129 11 133 11 133 21 134 24 142 14 147 14 147 24 147 27 155 18 159 18 159 28 159 30 167 23 171 23 171 31 171 34 178 27 182 27 182 36 182 38 188 32 192 32 192 40 191 42 197 37 201 37 201 44 200 47 205 42 210 42 210 48 208 51 213 46 217 46 217 53 216 55 220 51 224 51 224 57 222 60 226 56 230 56 230 61 228 63 231 60 235 60 235 55 238 53 235 56 230 56 230 51 233 48 229 51 224 51 224 45 227 43 223 46 217 46 217 40 220 37 215 42 210 42 210 35 212 32 207 37 201 37 201 29 203 27 198 32 192 32 192 24 194 21 188 27 182 27 182 19 184 16 177 23 171 23 171 14 173 11 165 18 159 18 159 9 160 6 153 14 147 14 147 4 148 2 139 11 133 11 133 0 134-2 125 7 119 7 119-4 119-6 107 5 103 5 103-8 102-9 91 2 86 2 86-11 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    40% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 15 84 2 86 2 86 14 88 15 99 4 103 4 103 15 103 17 115 6 119 6 119 17 121 19 130 9 133 9 133 19 135 21 143 11 147 11 147 21 148 23 156 15 160 15 160 24 160 26 168 18 172 18 172 27 173 29 180 22 184 22 184 30 184 33 190 26 194 26 194 33 194 36 199 29 203 29 203 37 203 39 209 33 212 33 212 40 212 43 217 37 221 37 221 44 220 46 224 41 228 41 228 47 227 50 231 45 235 45 235 51 233 52 236 48 240 48 240 43 242 42 239 45 235 45 235 40 236 37 232 41 228 41 228 35 229 33 225 37 221 37 221 31 222 29 217 33 212 33 212 27 214 24 208 29 203 29 203 22 205 20 199 26 194 26 194 18 195 16 189 22 184 22 184 14 185 11 178 18 172 18 172 9 173 7 165 15 160 15 160 5 160 3 153 11 147 11 147 1 148 0 139 9 133 9 133-2 133-4 124 6 119 6 119-6 118-7 106 4 103 4 103-8 102-10 90 2 86 2 86-11 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    42% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 66 1 68 1 68 14 68 14 84 1 86 1 86 14 88 15 100 3 103 3 103 14 104 16 116 4 119 4 119 16 121 17 130 6 134 6 134 17 136 18 144 9 148 9 148 18 149 20 157 11 160 11 160 20 162 22 170 14 173 14 173 22 174 24 181 16 185 16 185 25 185 27 192 19 195 19 195 27 196 29 202 22 205 22 205 30 205 31 211 25 214 25 214 32 214 34 220 28 223 28 223 35 223 36 227 31 230 31 230 37 230 39 235 34 238 34 238 40 237 41 240 37 243 37 243 32 245 30 242 34 238 34 238 29 239 27 234 31 230 31 230 25 232 23 227 28 223 28 223 22 224 20 219 25 214 25 214 18 215 16 209 22 205 22 205 15 206 13 200 19 195 19 195 11 196 10 189 16 185 16 185 8 185 6 178 14 173 14 173 5 173 3 165 11 160 11 160 1 160 0 153 9 148 9 148-2 147-3 139 6 134 6 134-4 133-6 124 4 119 4 119-7 118-8 106 3 103 3 103-9 102-10 90 1 86 1 86-12 86-12 70 1 68 1 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    45% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 67 0 68 0 68 13 69 14 84 1 86 1 86 13 89 14 100 2 103 2 103 13 104 14 116 3 119 3 119 14 122 15 131 4 134 4 134 15 136 16 145 6 148 6 148 16 150 16 158 7 161 7 161 17 163 18 171 9 174 9 174 18 175 19 183 11 185 11 185 19 187 20 194 13 196 13 196 21 197 22 203 15 206 15 206 22 207 23 213 17 216 17 216 24 217 25 222 19 225 19 225 25 225 26 230 21 232 21 232 27 233 28 238 23 240 23 240 28 240 29 244 25 246 25 246 19 246 18 243 23 240 23 240 17 241 16 236 21 232 21 232 15 233 14 228 19 225 19 225 12 225 11 220 17 216 17 216 10 216 9 210 15 206 15 206 7 206 6 200 13 196 13 196 5 196 4 190 11 185 11 185 3 185 1 178 9 174 9 174 0 173-1 165 7 161 7 161-2 160-3 152 6 148 6 148-4 147-5 139 4 134 4 134-7 133-7 124 3 119 3 119-9 118-9 106 2 103 2 103-10 101-11 90 1 86 1 86-12 85-13 70 0 68 0 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    47% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 67 0 68 0 68 13 69 13 85 0 86 0 86 13 89 13 101 1 103 1 103 12 105 13 117 1 119 1 119 12 122 13 132 2 134 2 134 12 137 13 146 3 148 3 148 12 151 13 159 4 161 4 161 13 164 13 172 5 174 5 174 13 176 14 184 6 186 6 186 14 188 14 195 6 197 6 197 14 199 15 205 7 207 7 207 15 209 15 215 8 217 8 217 15 218 16 224 10 226 10 226 16 227 16 232 10 234 10 234 16 235 17 240 12 242 12 242 17 243 17 246 12 247 12 247 7 247 7 244 12 242 12 242 6 241 5 236 10 234 10 234 4 233 4 229 10 226 10 226 3 225 2 220 8 217 8 217 1 216 1 210 7 207 7 207 0 206-1 200 6 197 6 197-1 196-2 189 6 186 6 186-3 185-3 178 5 174 5 174-4 173-5 165 4 161 4 161-6 160-6 152 3 148 3 148-7 147-8 138 2 134 2 134-9 133-9 123 1 119 1 119-10 117-10 105 1 103 1 103-11 101-11 90 0 86 0 86-13 85-13 69 0 68 0 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    50% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 67 0 68 0 68 13 69 13 85 0 86 0 86 12 89 12 101 0 103 0 103 11 105 11 117 0 119 0 119 11 123 11 132 0 134 0 134 10 138 10 146 0 148 0 148 9 151 9 159 0 161 0 161 9 164 9 172 0 174 0 174 8 177 8 185 0 186 0 186 8 189 8 196 0 197 0 197 7 200 7 206 0 207 0 207 7 210 7 216 0 217 0 217 6 219 6 225 0 226 0 226 6 228 6 233 0 234 0 234 6 236 6 241 0 242 0 242 5 244 5 247 0 248 0 248-5 247-5 244 0 242 0 242-6 241-6 236 0 234 0 234-6 233-6 228 0 226 0 226-6 225-6 219 0 217 0 217-7 216-7 210 0 207 0 207-7 206-7 200 0 197 0 197-8 196-8 189 0 186 0 186-8 185-8 177 0 174 0 174-9 172-9 164 0 161 0 161-9 159-9 151 0 148 0 148-10 146-10 138 0 134 0 134-11 132-11 123 0 119 0 119-11 117-11 105 0 103 0 103-12 101-12 89 0 86 0 86-13 85-13 69 0 68 0 68-14 67-14 50 0 48 0 48-16 48-16 0Z");
    }
    52% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 67 0 68 0 68 13 69 13 85 0 86 0 86 13 89 13 101 1 103 1 103 12 105 13 117 1 119 1 119 12 122 13 132 2 134 2 134 12 137 13 146 3 148 3 148 12 151 13 159 4 161 4 161 13 164 13 172 5 174 5 174 13 176 14 184 6 186 6 186 14 188 14 195 6 197 6 197 14 199 15 205 7 207 7 207 15 209 15 215 8 217 8 217 15 218 16 224 10 226 10 226 16 227 16 232 10 234 10 234 16 235 17 240 12 242 12 242 17 243 17 246 12 247 12 247 7 247 7 244 12 242 12 242 6 241 5 236 10 234 10 234 4 233 4 229 10 226 10 226 3 225 2 220 8 217 8 217 1 216 1 210 7 207 7 207 0 206-1 200 6 197 6 197-1 196-2 189 6 186 6 186-3 185-3 178 5 174 5 174-4 173-5 165 4 161 4 161-6 160-6 152 3 148 3 148-7 147-8 138 2 134 2 134-9 133-9 123 1 119 1 119-10 117-10 105 1 103 1 103-11 101-11 90 0 86 0 86-13 85-13 69 0 68 0 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    55% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 67 0 68 0 68 13 69 14 84 1 86 1 86 13 89 14 100 2 103 2 103 13 104 14 116 3 119 3 119 14 122 15 131 4 134 4 134 15 136 16 145 6 148 6 148 16 150 16 158 7 161 7 161 17 163 18 171 9 174 9 174 18 175 19 183 11 185 11 185 19 187 20 194 13 196 13 196 21 197 22 203 15 206 15 206 22 207 23 213 17 216 17 216 24 217 25 222 19 225 19 225 25 225 26 230 21 232 21 232 27 233 28 238 23 240 23 240 28 240 29 244 25 246 25 246 19 246 18 243 23 240 23 240 17 241 16 236 21 232 21 232 15 233 14 228 19 225 19 225 12 225 11 220 17 216 17 216 10 216 9 210 15 206 15 206 7 206 6 200 13 196 13 196 5 196 4 190 11 185 11 185 3 185 1 178 9 174 9 174 0 173-1 165 7 161 7 161-2 160-3 152 6 148 6 148-4 147-5 139 4 134 4 134-7 133-7 124 3 119 3 119-9 118-9 106 2 103 2 103-10 101-11 90 1 86 1 86-12 85-13 70 0 68 0 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    57% {
        d: path("M16 0 16 48 0 48 0 48 14 50 14 66 1 68 1 68 14 68 14 84 1 86 1 86 14 88 15 100 3 103 3 103 14 104 16 116 4 119 4 119 16 121 17 130 6 134 6 134 17 136 18 144 9 148 9 148 18 149 20 157 11 160 11 160 20 162 22 170 14 173 14 173 22 174 24 181 16 185 16 185 25 185 27 192 19 195 19 195 27 196 29 202 22 205 22 205 30 205 31 211 25 214 25 214 32 214 34 220 28 223 28 223 35 223 36 227 31 230 31 230 37 230 39 235 34 238 34 238 40 237 41 240 37 243 37 243 32 245 30 242 34 238 34 238 29 239 27 234 31 230 31 230 25 232 23 227 28 223 28 223 22 224 20 219 25 214 25 214 18 215 16 209 22 205 22 205 15 206 13 200 19 195 19 195 11 196 10 189 16 185 16 185 8 185 6 178 14 173 14 173 5 173 3 165 11 160 11 160 1 160 0 153 9 148 9 148-2 147-3 139 6 134 6 134-4 133-6 124 4 119 4 119-7 118-8 106 3 103 3 103-9 102-10 90 1 86 1 86-12 86-12 70 1 68 1 68-14 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    60% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 15 84 2 86 2 86 14 88 15 99 4 103 4 103 15 103 17 115 6 119 6 119 17 121 19 130 9 133 9 133 19 135 21 143 11 147 11 147 21 148 23 156 15 160 15 160 24 160 26 168 18 172 18 172 27 173 29 180 22 184 22 184 30 184 33 190 26 194 26 194 33 194 36 199 29 203 29 203 37 203 39 209 33 212 33 212 40 212 43 217 37 221 37 221 44 220 46 224 41 228 41 228 47 227 50 231 45 235 45 235 51 233 52 236 48 240 48 240 43 242 42 239 45 235 45 235 40 236 37 232 41 228 41 228 35 229 33 225 37 221 37 221 31 222 29 217 33 212 33 212 27 214 24 208 29 203 29 203 22 205 20 199 26 194 26 194 18 195 16 189 22 184 22 184 14 185 11 178 18 172 18 172 9 173 7 165 15 160 15 160 5 160 3 153 11 147 11 147 1 148 0 139 9 133 9 133-2 133-4 124 6 119 6 119-6 118-7 106 4 103 4 103-8 102-10 90 2 86 2 86-11 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    62% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 15 84 2 86 2 86 15 88 16 99 5 103 5 103 16 103 18 115 7 119 7 119 19 120 21 129 11 133 11 133 21 134 24 142 14 147 14 147 24 147 27 155 18 159 18 159 28 159 30 167 23 171 23 171 31 171 34 178 27 182 27 182 36 182 38 188 32 192 32 192 40 191 42 197 37 201 37 201 44 200 47 205 42 210 42 210 48 208 51 213 46 217 46 217 53 216 55 220 51 224 51 224 57 222 60 226 56 230 56 230 61 228 63 231 60 235 60 235 55 238 53 235 56 230 56 230 51 233 48 229 51 224 51 224 45 227 43 223 46 217 46 217 40 220 37 215 42 210 42 210 35 212 32 207 37 201 37 201 29 203 27 198 32 192 32 192 24 194 21 188 27 182 27 182 19 184 16 177 23 171 23 171 14 173 11 165 18 159 18 159 9 160 6 153 14 147 14 147 4 148 2 139 11 133 11 133 0 134-2 125 7 119 7 119-4 119-6 107 5 103 5 103-8 102-9 91 2 86 2 86-11 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    65% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 16 83 3 86 3 86 15 87 17 99 6 103 6 103 17 102 20 114 9 118 9 118 20 119 23 128 13 133 13 133 23 133 26 141 17 146 17 146 27 146 30 153 22 158 22 158 31 158 35 165 27 170 27 170 36 169 39 176 33 181 33 181 41 179 44 185 38 190 38 190 46 189 49 194 43 199 43 199 51 197 54 202 49 207 49 207 56 205 59 209 55 214 55 214 61 211 64 215 60 220 60 220 66 217 69 221 66 225 66 225 71 223 73 225 70 229 70 229 66 233 64 231 66 225 66 225 61 229 58 225 60 220 60 220 55 223 52 219 55 214 55 214 49 217 46 213 49 207 49 207 43 210 39 205 43 199 43 199 37 202 33 197 38 190 38 190 31 193 27 187 33 181 33 181 24 183 21 177 27 170 27 170 18 172 15 165 22 158 22 158 12 160 10 153 17 146 17 146 7 148 4 139 13 133 13 133 2 134 0 125 9 118 9 118-3 119-5 107 6 103 6 103-7 102-8 91 3 86 3 86-10 86-12 70 1 68 1 68-13 67-14 51 0 48 0 48-16 48-16 0Z");
    }
    67% {
        d: path("M16 0 16 48 0 48 0 48 14 50 15 66 1 68 1 68 14 68 16 83 3 86 3 86 16 87 18 98 7 103 7 103 18 102 21 113 10 118 10 118 22 119 25 127 15 132 15 132 26 132 29 140 20 145 20 145 30 145 33 152 25 157 25 157 35 156 39 163 31 169 31 169 40 167 44 173 38 179 38 179 46 177 50 182 44 188 44 188 51 186 55 190 50 196 50 196 57 193 61 198 57 203 57 203 63 200 67 204 63 210 63 210 69 206 72 210 69 215 69 215 74 212 78 215 76 220 76 220 80 216 83 218 81 223 81 223 77 227 74 225 76 220 76 220 71 224 68 221 69 215 69 215 65 219 61 216 63 210 63 210 58 213 54 209 57 203 57 203 51 207 47 202 50 196 50 196 44 199 40 195 44 188 44 188 37 191 33 186 38 179 38 179 30 182 26 176 31 169 31 169 23 172 19 164 25 157 25 157 16 160 13 152 20 145 20 145 10 147 7 139 15 132 15 132 4 134 1 125 10 118 10 118-1 119-4 107 7 103 7 103-6 103-8 91 3 86 3 86-10 86-12 71 1 68 1 68-13 68-14 51 0 48 0 48-16 48-16 0Z");
    }
    70% {
        d: path("M16 0 16 48 0 48 0 48 14 49 15 66 1 68 1 68 14 67 17 83 4 86 4 86 16 86 19 98 7 102 7 102 19 101 22 113 12 118 12 118 23 118 26 126 17 132 17 132 28 131 31 139 23 145 23 145 33 143 36 150 29 156 29 156 38 154 42 161 36 167 36 167 44 165 49 171 43 177 43 177 51 174 55 179 50 185 50 185 57 182 61 187 57 193 57 193 63 189 68 193 64 199 64 199 70 196 74 199 71 205 71 205 76 201 80 204 78 209 78 209 83 205 87 208 85 213 85 213 89 209 92 211 90 216 90 216 87 220 84 219 85 213 85 213 81 218 77 215 78 209 78 209 74 214 70 211 71 205 71 205 66 209 62 206 64 199 64 199 59 204 54 199 57 193 57 193 51 197 46 192 50 185 50 185 43 189 39 184 43 177 43 177 35 181 31 174 36 167 36 167 27 171 23 164 29 156 29 156 20 159 16 152 23 145 23 145 13 147 9 139 17 132 17 132 6 134 3 125 12 118 12 118 0 119-3 107 7 102 7 102-5 103-7 91 4 86 4 86-9 86-11 71 1 68 1 68-13 68-14 51 0 48 0 48-16 48-16 0Z");
    }
    72% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 67 17 82 5 86 5 86 17 86 20 97 9 102 9 102 21 100 25 111 15 117 15 117 26 116 30 124 21 131 21 131 32 129 36 136 28 143 28 143 38 140 42 147 36 153 36 153 44 150 50 157 44 163 44 163 52 160 57 165 52 172 52 172 60 168 65 172 61 179 61 179 67 175 72 178 69 185 69 185 75 180 80 183 78 190 78 190 82 185 87 187 86 194 86 194 90 189 94 190 93 196 93 196 97 191 102 193 101 198 101 198 104 194 107 194 107 199 107 199 105 204 102 204 101 198 101 198 99 204 94 202 93 196 93 196 90 202 86 200 86 194 86 194 82 199 77 197 78 190 78 190 73 195 68 192 69 185 69 185 64 190 59 186 61 179 61 179 55 184 50 180 52 172 52 172 45 177 40 171 44 163 44 163 36 168 31 162 36 153 36 153 27 158 22 151 28 143 28 143 19 146 14 139 21 131 21 131 11 134 7 125 15 117 15 117 3 119-1 108 9 102 9 102-3 103-6 92 5 86 5 86-8 87-11 71 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    75% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 66 18 82 6 85 6 85 18 85 22 96 11 102 11 102 22 99 27 110 18 116 18 116 29 114 33 122 25 129 25 129 35 126 40 133 33 141 33 141 43 137 48 143 42 150 42 150 50 146 56 151 52 159 52 159 59 154 65 158 61 166 61 166 68 161 74 164 71 172 71 172 76 166 82 168 80 176 80 176 85 170 91 172 90 179 90 179 93 173 99 174 98 181 98 181 101 175 106 175 106 181 106 181 108 176 113 176 114 181 114 181 116 176 119 176 120 181 120 181 120 186 117 186 114 181 114 181 113 187 108 187 106 181 106 181 105 187 100 187 98 181 98 181 96 187 91 185 90 179 90 179 86 185 80 183 80 176 80 176 76 182 70 179 71 172 71 172 66 178 60 174 61 166 61 166 55 172 49 167 52 159 52 159 45 165 38 159 42 150 42 150 34 155 29 149 33 141 33 141 24 145 19 138 25 129 25 129 15 133 10 125 18 116 18 116 6 119 1 108 11 102 11 102-1 103-5 92 6 85 6 85-7 87-10 72 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    77% {
        d: path("M16 0 16 48 0 48 0 48 14 49 16 65 2 68 2 68 15 66 19 81 7 85 7 85 19 84 23 95 13 101 13 101 24 98 30 108 20 115 20 115 31 112 37 120 29 128 29 128 39 124 45 130 38 138 38 138 47 133 53 138 48 147 48 147 56 141 63 146 59 154 59 154 65 148 72 151 70 159 70 159 75 153 81 155 80 163 80 163 84 156 90 158 90 165 90 165 93 159 99 159 100 166 100 166 102 160 107 160 109 166 109 166 110 160 115 159 117 165 117 165 117 159 122 158 124 163 124 163 124 157 127 156 130 161 130 161 131 166 128 167 124 163 124 163 125 169 120 170 117 165 117 165 116 171 112 172 109 166 109 166 108 173 102 173 100 166 100 166 98 173 92 172 90 165 90 165 87 172 81 171 80 163 80 163 76 170 70 168 70 159 70 159 65 166 58 163 59 154 59 154 53 160 46 156 48 147 48 147 41 153 35 147 38 138 38 138 30 143 24 137 29 128 29 128 19 132 14 125 20 115 20 115 9 119 4 108 13 101 13 101 1 104-3 93 7 85 7 85-6 87-10 72 2 68 2 68-12 68-14 52 0 48 0 48-16 48-16 0Z");
    }
    80% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 94 15 101 15 101 25 96 32 106 23 114 23 114 34 110 40 117 33 126 33 126 42 121 49 126 43 135 43 135 51 129 58 134 54 142 54 142 61 136 68 139 66 148 66 148 71 141 78 143 77 152 77 152 81 145 88 146 88 154 88 154 91 146 97 147 98 154 98 154 100 147 106 146 108 153 108 153 109 146 114 145 117 151 117 151 116 144 121 143 124 148 124 148 123 142 127 139 131 144 131 144 129 139 132 137 136 140 136 140 138 145 136 147 131 144 131 144 133 149 129 152 124 148 124 148 125 154 121 156 117 151 117 151 117 157 112 159 108 153 108 153 107 160 101 161 98 154 98 154 96 161 90 161 88 154 88 154 85 161 78 160 77 152 77 152 73 159 66 157 66 148 66 148 60 155 53 152 54 142 54 142 47 149 41 145 43 135 43 135 35 141 29 136 33 126 33 126 23 131 17 124 23 114 23 114 12 119 6 108 15 101 15 101 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    82% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 94 15 101 15 101 26 96 32 106 24 114 24 114 34 109 41 116 34 125 34 125 43 119 50 124 45 133 45 133 53 127 60 131 57 140 57 140 63 132 70 135 69 144 69 144 73 137 81 138 81 146 81 146 84 139 90 139 91 147 91 147 93 139 99 138 101 146 101 146 102 138 108 137 111 143 111 143 110 136 115 134 119 139 119 139 118 133 122 130 126 135 126 135 123 129 127 126 132 129 132 129 129 124 131 122 135 124 135 124 139 128 137 131 132 129 132 129 135 134 131 137 126 135 126 135 128 140 124 143 119 139 119 139 121 145 116 148 111 143 111 143 112 150 106 152 101 146 101 146 101 153 95 154 91 147 91 147 90 155 83 154 81 146 81 146 77 154 70 153 69 144 69 144 64 152 57 149 57 140 57 140 51 147 44 143 45 133 45 133 38 140 31 135 34 125 34 125 25 131 19 124 24 114 24 114 13 118 7 109 15 101 15 101 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    84% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 93 15 100 15 100 26 95 33 105 25 113 25 113 35 108 41 115 35 124 35 124 44 117 51 122 47 132 47 132 54 124 61 128 59 137 59 137 64 129 72 131 71 140 71 140 75 132 83 132 83 141 83 141 85 133 92 132 94 140 94 140 95 132 101 130 104 137 104 137 103 130 109 127 113 133 113 133 111 126 116 123 120 127 120 127 117 122 121 118 126 122 126 122 122 117 125 113 130 115 130 115 126 111 128 108 133 109 133 109 137 112 136 115 130 115 130 115 134 119 132 123 126 122 126 122 129 126 126 130 120 127 120 127 123 133 119 136 113 133 113 133 115 139 109 142 104 137 104 137 105 144 99 146 94 140 94 140 94 148 87 148 83 141 83 141 81 149 74 149 71 140 71 140 68 148 60 146 59 137 59 137 54 145 46 142 47 132 47 132 40 139 33 134 35 124 35 124 27 130 20 124 25 113 25 113 14 118 7 109 15 100 15 100 3 104-2 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    86% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 83 25 93 15 100 15 100 26 95 33 104 25 113 25 113 35 107 42 113 37 123 37 123 45 116 52 120 49 130 49 130 55 122 63 125 61 134 61 134 65 126 74 127 74 136 74 136 77 127 84 127 86 135 86 135 87 127 93 125 97 132 97 132 96 125 101 122 106 128 106 128 104 121 109 117 114 122 114 122 111 116 114 112 120 116 120 116 116 111 118 107 124 109 124 109 120 105 121 100 127 102 127 102 122 99 123 96 128 96 128 96 133 97 132 101 127 102 127 102 132 104 130 109 124 109 124 109 129 113 126 117 120 116 120 116 124 121 120 125 114 122 114 122 117 129 112 132 106 128 106 128 108 135 102 138 97 132 97 132 97 140 91 142 86 135 86 135 85 143 77 144 74 136 74 136 71 144 63 143 61 134 61 134 56 142 49 140 49 130 49 130 42 137 35 133 37 123 37 123 28 130 21 123 25 113 25 113 15 118 8 109 15 100 15 100 4 104-1 93 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    88% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 25 93 16 100 16 100 26 94 33 104 26 112 26 112 36 106 43 112 38 122 38 122 45 114 53 118 50 128 50 128 56 119 64 121 63 131 63 131 67 122 75 122 76 131 76 131 78 123 85 121 88 129 88 129 88 121 94 118 98 125 98 125 96 118 101 114 106 120 106 120 103 113 107 108 113 112 113 112 109 107 112 102 118 105 118 105 113 101 115 96 121 97 121 97 115 94 116 89 122 89 122 89 117 88 116 85 121 83 121 83 127 84 127 87 122 89 122 89 127 91 127 96 121 97 121 97 126 100 124 105 118 105 118 105 123 109 120 114 113 112 113 112 117 118 113 123 106 120 106 120 109 126 104 130 98 125 98 125 100 133 93 135 88 129 88 129 88 138 80 139 76 131 76 131 74 140 66 140 63 131 63 131 59 140 51 138 50 128 50 128 44 136 37 132 38 122 38 122 30 129 22 123 26 112 26 112 16 118 8 109 16 100 16 100 4 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    90% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 25 92 16 100 16 100 26 94 34 103 27 112 27 112 36 105 44 111 39 120 39 120 46 113 54 116 52 126 52 126 57 117 65 118 65 128 65 128 67 119 76 118 78 127 78 127 78 118 85 116 89 123 89 123 88 115 94 112 99 118 99 118 96 111 100 107 106 111 106 111 102 105 105 100 112 103 112 103 107 98 109 93 115 94 115 94 109 91 110 87 116 86 116 86 110 85 110 80 115 78 115 78 110 78 109 75 113 73 113 73 119 72 120 75 115 78 115 78 121 79 122 84 116 86 116 86 122 88 121 93 115 94 115 94 120 98 118 103 112 103 112 103 117 108 113 113 106 111 106 111 110 117 106 121 99 118 99 118 101 125 96 129 89 123 89 123 90 132 83 134 78 127 78 127 77 136 69 136 65 128 65 128 62 137 54 136 52 126 52 126 47 134 39 131 39 120 39 120 31 128 24 123 27 112 27 112 17 118 9 109 16 100 16 100 4 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    92% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 26 92 16 100 16 100 26 93 34 102 27 111 27 111 36 104 44 109 40 119 40 119 47 111 55 114 53 124 53 124 57 114 65 115 66 125 66 125 68 115 76 114 79 122 79 122 79 113 85 110 90 117 90 117 88 109 93 105 99 111 99 111 95 104 98 99 105 103 105 103 100 98 102 92 109 94 109 94 103 90 104 85 111 85 111 85 104 83 104 78 110 77 110 77 104 77 102 72 108 69 108 69 102 70 100 68 104 64 104 64 109 62 111 65 108 69 108 69 113 68 115 73 110 77 110 77 116 77 116 82 111 85 111 85 117 87 116 92 109 94 109 94 115 98 112 103 105 103 105 103 110 108 106 113 99 111 99 111 103 118 97 122 90 117 90 117 92 126 85 129 79 122 79 122 79 131 71 133 66 125 66 125 64 134 56 133 53 124 53 124 49 133 40 130 40 119 40 119 33 127 25 122 27 111 27 111 18 118 9 109 16 100 16 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    95% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 82 26 92 17 100 17 100 26 93 34 101 28 111 28 111 37 103 45 108 41 118 41 118 47 109 55 111 55 121 55 121 58 112 66 112 68 121 68 121 68 112 76 110 80 118 80 118 79 109 85 105 90 111 90 111 87 104 92 99 98 104 98 104 93 98 96 92 103 95 103 95 97 91 98 85 105 85 105 85 99 83 99 77 105 76 105 76 99 76 98 71 103 68 103 68 97 70 95 65 99 62 99 62 94 64 92 62 95 57 95 57 99 54 101 56 99 62 99 62 104 59 107 64 103 68 103 68 109 68 110 72 105 76 105 76 112 77 112 83 105 85 105 85 112 88 110 94 103 95 103 95 109 99 106 105 98 104 98 104 103 110 98 115 90 111 90 111 94 119 87 123 80 118 80 118 81 127 73 129 68 121 68 121 66 131 58 131 55 121 55 121 51 131 42 129 41 118 41 118 34 127 26 122 28 111 28 111 19 118 10 109 17 100 17 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    100% {
        d: path("M16 0 16 48 0 48 0 48 14 48 16 65 3 68 3 68 16 65 20 80 8 85 8 85 20 81 26 91 17 100 17 100 26 92 35 100 29 110 29 110 37 102 45 106 42 117 42 117 47 108 56 109 56 119 56 119 58 110 66 109 69 118 69 118 69 108 76 105 81 113 81 113 78 105 84 100 90 106 90 106 86 99 90 93 97 97 97 97 91 92 93 86 100 87 100 87 94 84 94 78 101 77 101 77 94 76 93 71 99 69 99 69 93 69 91 65 95 61 95 61 90 64 86 60 90 56 90 56 86 59 83 58 85 53 85 53 88 49 91 50 90 56 90 56 95 52 98 56 95 61 95 61 101 60 103 64 99 69 99 69 106 68 107 74 101 77 101 77 108 79 107 85 100 87 100 87 107 91 105 97 97 97 97 97 102 102 98 108 90 106 90 106 94 113 88 118 81 113 81 113 83 122 75 125 69 118 69 118 68 127 60 128 56 119 56 119 52 129 44 127 42 117 42 117 36 126 27 122 29 110 29 110 20 117 11 109 17 100 17 100 5 104-1 94 8 85 8 85-5 88-9 72 3 68 3 68-11 69-14 52 0 48 0 48-16 48-16 0Z");
    }
    0%,
    49.999% {
        rotate: var(--rot);
        transform: scale(calc(var(--t) * -1), 1);
    }
    50%,
    100% {
        rotate: var(--rot);
        transform: scale(var(--t), 1);
    }
}