html {
    background: linear-gradient(#ffffff80, rgba(255, 255, 255, 0.5)), url('images/noise.png');
    background-blend-mode: screen;
    background-size: 300px 300px;
}

.resume {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    color: #3f3f46;
    font-family: "Kumbh Sans", serif, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

.resume-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.resume-btn {
    padding: 10px 15px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: #3f3f46;
    text-decoration: none;
    text-align: center;
}

.resume-btn:hover {
    background-color: #a8a8a8;
}

.resume ul {
    list-style-type: disc;
    padding-left: 1.5em;
    list-style-position: inside;
    margin-bottom: 30px;
}

.resume ul li {
    margin-bottom: 8px;
    text-indent: -1.5em;
}

.resume h1 {
    font-size: 1.8em;
    margin-bottom: 0;
}

.resume h2 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 0.7px;
}

.resume p {
    font-size: 1em;
    font-weight: 400;
}

@media (max-width: 768px) {
    .resume {
        margin-top: 20px;
    }
    .resume-buttons {
        display: grid;
        /* justify-content: space-evenly; */
        align-items: center;
        row-gap: 10px;
    }
}