@import url(https://fonts.googleapis.com/css2?family=Alice&family=Kumbh+Sans&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kumbh-sans {
  font-family: "Kumbh Sans", serif, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.kumbh-sans-header {
  font-family: "Kumbh Sans", serif, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.alice {
  font-family: "Alice", serif, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
}

html {
    scroll-padding-top: 60px;
  }

b {
  font-weight: 600;
}

.navbar {
    background-color: #fdf9ff;
    background-image: url('images/noise.png');
    background-size: 200px 200px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    width: 70%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
    padding-top: 2px;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links a {
    transition: color 0.3s ease;
  }

  .nav-item {
    text-decoration: none;
    color: #3f3f46;
    font-size: 1.05rem;
    position: relative;
    padding-bottom: 8px;
    font-family: "Kumbh Sans", serif, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3f3f46;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  .nav-item:hover::after {
    width: 100%;
  }

  .linkedin-svg {
    fill: #3f3f46; 
  }

  /* Responsive Design for Mobile */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      gap: 10px;
      display: none;
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: #dbf9dd;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        display: flex;
      }
    
      .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5rem;
      }
    }

.full-page {
    display: flex;
    position: relative;
    padding: 20px;
}

/* Home Section */
.full-page#home {
    /* color: #2d3748; */
    /* padding-top: 50px; */
    position: relative;
    padding: 2px;
    min-height: 94vh;
    background: linear-gradient(30deg, #edd5dc, #e7f1ff, #dbedff), url('images/noise.png');
    background-blend-mode: saturation;
    background-size: cover, 200px;
    background-position: center, center;
}

.full-page#home .text {
    position: absolute;
    max-width: 40%;
    padding-top: 4%;
    padding-left: 50px;
    top: 15%;
    left: 10%;
    z-index: 2;
    text-align: center;
}

.full-page#home h1 {
    font-size: clamp(4rem, 4vw + 1rem, 8rem);
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
    color: #25284b;
}

.full-page#home p {
    font-size: clamp(1rem, 1.2vw, 2rem);
    line-height: 1.6;
    margin-bottom: 0;
    color: #3f3f46;
}

.svg-container {
    width: 50px;
    height: auto;
    overflow: hidden;
  }

  .svg {
    position: absolute; /* Allows for positioning inside the container */
    width: auto;
    height: 120vh;
    top: -70px; /* Adjust to control which part is visible */
    right: 0;
    transform: scaleX(-1);
    z-index: 1;
  }

.path1, .path3 {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 0.1;
    transform-box: fill-box;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    animation: dance 60s linear infinite;
  }
  @keyframes dance {
    100% {
        transform: rotate(360deg);
      }
    }

.path2 {
    stroke: #fffdfd;
    fill: transparent;
    stroke-width: 0.1;
    transform-box: fill-box;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    animation: dance 60s linear infinite reverse;
    }
    @keyframes dance {
    100% {
        transform: rotate(360deg);
        }
    }

/* About Section */
.full-page#about {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110deg, #edd5dc, #f3eade), url('images/noise.png');
    background-blend-mode: saturation;
    background-size: cover, 200px;
    background-position: center, center;
    position: relative;
    gap: 80px;
    /* margin: 20px 0; */
    min-height: 95vh;
    /* max-width: 70%; */
}

.full-page#about img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding-left: 10%;
}

.about-me {
    max-width: 50%;
    padding-right: 10%;
    z-index: 2;
  }

h2 {
    font-size: clamp(1rem, 1vw + 1rem, 3rem); /* Adjust header size */
    margin-bottom: 10px; /* Space below the header */
    letter-spacing: 2px;
    text-align: center;
    color: #3f3f46;
}

.about-me p {
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    line-height: 1.6;
    color: #3f3f46;
}

/* Project Section */
.full-page#projects {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  justify-content: space-around;
  background: linear-gradient(50deg, #efe2f0, #efe2f0, #f3eade), url('images/noise.png');
  background-blend-mode: saturation;
  background-size: cover, 200px;
  background-position: center, center;
  padding: 3rem 2rem;
  color: #3f3f46;
  min-height: 95vh;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
}

.card {
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 22vw;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  text-decoration: none;
  color: #3f3f46;
  display: block;
}

.card[data-tags~="other"] {
    display: none;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 5px;
  font-family: "Kumbh Sans", serif, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.card p {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.card::after {
  content: '\2192'; /* Right arrow */
  font-size: 24px;
  color: #3f3f46;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s ease;
}

.card:hover::after {
  transform: translateX(-50%) scale(1);
}

.card-image-container {
  width: 22vw;
  height: 8.5vw;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 15px;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tags Styling */
.card .tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.card .tag {
  background-color: #7e7e87;
  color: white;
  padding: 3px 10px;
  border-radius: 7px;
  font-size: 11px;
  text-transform: uppercase;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #3f3f46;
}

.filter-btn:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  background-image: url('images/noise.png');
  background-size: 300px 300px;
  padding: 30px 4% 2% 4%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 60%;
  max-width: 1200px;
  max-height: 90vh;
  position: relative;
  overflow: auto;
}

.modal-title {
  text-align: left;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-main-image {
  width: 100%;
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.modal-main-image img {
  width: 70%;
  height: auto;
  border-radius: 1px;
}

.modal-description {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  grid-column: span 2;
}

.modal-corner-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: auto;
}

.close {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}



/* Footer Styling */
#footer {
  background-image: url('images/noise.png');
  background-size: 200px 200px;
  background-color: white;
  /* border-top: 2px solid #3f3f46; */
  color: #3f3f46;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  font-size: 12px;
}